{{define "title"}}PURCHASES CREATE{{end}}
{{define "header"}}PURCHASES CREATE{{end}}
{{define "subheader"}}Management for purchases create{{end}}

{{define "main"}}
<div class="box box-info">
    <div class="box-header with-border">
        <h3 class="box-title">PURCHASES CREATE List</h3>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
        </div>
    </div>
    <div class="box-body">
        <div class="well text-center">
            <h3><i class="fa fa-info-circle"></i> PURCHASES CREATE Module</h3>
            <p>This module is currently being migrated from the Laravel POS system.</p>
            <a href="/" class="btn btn-primary"><i class="fa fa-home"></i> Back to Dashboard</a>
        </div>
    </div>
</div>
{{end}}
