{{define "title"}}Stock Transfers{{end}}

{{define "header"}}Stock Transfers{{end}}
{{define "subheader"}}Manage stock transfers between locations{{end}}

{{define "main"}}
<!-- Date Filter -->
<div class="row">
    <div class="col-md-12">
        <div class="box box-primary">
            <div class="box-body">
                <form action="/stock-transfers" method="GET" class="form-inline">
                    <div class="form-group">
                        <label>From: </label>
                        <input type="date" name="start_date" class="form-control" value="{{.PageData.Start.Format "2006-01-02"}}">
                    </div>
                    <div class="form-group tw-ml-2">
                        <label>To: </label>
                        <input type="date" name="end_date" class="form-control" value="{{.PageData.End.Format "2006-01-02"}}">
                    </div>
                    <button type="submit" class="btn btn-primary tw-ml-2"><i class="fa fa-filter"></i> Filter</button>
                    <a href="/stock-transfers" class="btn btn-default tw-ml-2">Today</a>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="box box-primary">
    <div class="box-header with-border">
        <h3 class="box-title">All Transfers</h3>
        <div class="box-tools">
            <a href="/stock-transfers/create" class="btn btn-primary btn-sm">
                <i class="fa fa-plus"></i> Add New Transfer
            </a>
        </div>
    </div>
    <div class="box-body">
        <div class="table-responsive">
            <table class="table table-bordered table-striped datatable" id="transfers_table">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Reference No</th>
                        <th>From Location</th>
                        <th>To Location</th>
                        <th>Status</th>
                        <th>Grand Total</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {{range .PageData.Transfers}}
                    <tr>
                        <td>{{.TransactionDate.Format "Jan 02, 2006"}}</td>
                        <td>{{.RefNo}}</td>
                        <td>{{.FromLocationName}}</td>
                        <td>{{.ToLocationName}}</td>
                        <td><span class="label label-info">{{.Status}}</span></td>
                        <td>${{.FinalTotal}}</td>
                        <td>
                            <a href="/stock-transfers/view?id={{.ID}}" class="btn btn-xs btn-info"><i class="fa fa-eye"></i> View</a>
                        </td>
                    </tr>
                    {{end}}
                </tbody>
            </table>
        </div>
    </div>
</div>
{{end}}
