{{define "title"}}Expenses{{end}}

{{define "header"}}Expenses{{end}}
{{define "subheader"}}Track business expenses{{end}}

{{define "main"}}
<div class="box box-primary">
    <div class="box-header with-border">
        <h3 class="box-title">All Expenses</h3>
        <div class="box-tools">
            <a href="/expenses/create" class="btn btn-primary btn-sm">
                <i class="fa fa-plus"></i> Add New Expense
            </a>
        </div>
    </div>
    <div class="box-body">
        <div class="table-responsive">
            <table class="table table-bordered table-striped datatable" id="expenses_table">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Reference No</th>
                        <th>Location</th>
                        <th>Category</th>
                        <th>Total Amount</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {{range .PageData.Expenses}}
                    <tr>
                        <td>{{.TransactionDate.Format "Jan 02, 2006"}}</td>
                        <td>{{.RefNo}}</td>
                        <td>{{.LocationName}}</td>
                        <td>{{.CategoryName}}</td>
                        <td>${{.FinalTotal}}</td>
                        <td>
                            <a href="/expenses/view?id={{.ID}}" class="btn btn-xs btn-info"><i class="fa fa-eye"></i> View</a>
                        </td>
                    </tr>
                    {{end}}
                </tbody>
            </table>
        </div>
    </div>
</div>
{{end}}
